/* General stuff for everywhere */
:root {
    --primary: #50a3c4;
    --primary-light: #6cc7eaa3;
    --primary-dark: #186280;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    transition: 500ms;
    overflow-x: hidden;
    font-size: 14px;
}

.hide {
    display: none;
}

.dotsep::before {
    padding: 0px 10px;
    content: "•";
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-dark);
}

/* header styling */
img.profile {
    max-width: 250px;
    border-radius: 100%;
    border: 10px solid var(--primary);
    transition: 1.5s;
}

img.profile.flip {
    transform: rotateX(360deg);
}

header h1 {
    font-weight: 700;
    font-size: 50px;
}

/* grid of projects */
.research-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
    transition: 2s;
}
@media (max-width: 459px) {
    .research-projects {
        display: flex;
        flex-direction: column;
    }
}

/* project styling */
.research-projects .project {
    transition: 1s;
    opacity: 0;
    border: 10px solid var(--primary);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.research-projects .project .row {
    height: 100%;
    align-content: center;
}

.research-projects .project.visible {
    opacity: 1;
}

.research-projects .project img {
    width: 100%;
}

/* project overlays */
.research-projects .project .col {
    position: relative;
}

.research-projects .project .project-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    opacity: 0;
    transition: 300ms;
    background-color: rgba(255, 255, 255, 0.9);
    background-clip: content-box;
    padding: inherit;
}

.research-projects .project:hover .project-description {
    opacity: 1;
}

.research-projects .project .project-description-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: inherit;
    width: 100%;
}

/* grow and hide research details */
#research_details {
    height: 0px;
    overflow: hidden;
    transition: 1s;
    position: relative;
}

.details {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* footer styling */
footer.footer .social-link {
    transition: 300ms ease-in-out;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

footer.footer .social-link.fa-github {
    border-radius: 100%;
}

footer.footer .social-link.fa-linkedin,
footer.footer .social-link.fa-twitter-square {
    border-radius: 10px;
    line-height: 50px;
}

footer.footer .social-link:hover {
    background-color: var(--primary-light);
    text-decoration: none;
    box-shadow: none;
    transform: translateY(3px);
}

footer.footer .social-link:active {
    background-color: var(--primary);
}

.project-link {
    color: var(--primary);
}

.project-link:hover {
    color: var(--primary-dark);
}

.project-link:active {
    color: var(--primary-dark);
}

.btn.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn.btn-primary:active {
    background-color: var(--primary-dark);
}

.nyan {
    opacity: 0;
    animation: nyan 3s;
    -moz-animation: nyan 3s;
    -webkit-animation: nyan 3s;
    -o-animation: nyan 3s;
    webkit-animation-fill-mode: forwards;
    animation-timing-function: linear;
    transition: 1s;
}

.rick {
    transform: rotateY(180deg);
    filter: hue-rotate(180deg);
    cursor: pointer;
}

.nyan img {
    height: 80px;
}

.nyan-matrix {
    filter: invert(67%) sepia(82%) saturate(6228%) hue-rotate(81deg) brightness(119%) contrast(123%);
}

.nyan-matrix.rick {
    filter: invert(67%) sepia(82%) saturate(6228%) hue-rotate(361deg) brightness(119%) contrast(123%);
}

.barrel {
    transform: rotateX(720deg);
}

@keyframes nyan {
    0% {
        left: 0%;
        opacity: 0;
    }
    1% {
        left: 1%;
        opacity: 1;
    }
    99% {
        left: 99%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

#matrix-box {
    position: absolute;
    top: 0px;
    z-index: -1000;
}

.rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

#cheats {
    position: absolute;
    top: 20%;
    left: 3%;
    background: lightgrey;
    min-width: none;
    min-height: none;
    width: 2px;
    height: 2px;
    padding: 0;
    margin: 0;
}

#cheat_code_list .modal-content {
    background-color: lightgrey;
    opacity: 0.85;
}

.cheat-item {
    display: block;
    font-size: 30px;
}
